<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lette.ProjectEuler.Core" version="0.1.5155.30697" targetFramework="net45" />
  <package id="Lette.ProjectEuler.Math" version="0.1.5161.38722" targetFramework="net45" />
  <package id="Lette.ProjectEuler.Solutions.Demo" version="0.1.5161.38906" targetFramework="net451" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>